In [1]:
import hide_code

<img src="SanMateoCounty.png">

# San Mateo County Open Data

# Go to website

In [2]:
import webbrowser

webbrowser.open('https://dev.socrata.com/foundry/data.smcgov.org/3jns-r2bi')

True

# Fetch API endpoint (Note: ends in ".json")

In [3]:
import webbrowser

webbrowser.open('https://data.smcgov.org/Government/Unclaimed-Checks/4f39-8iub')

True

<img src="UnclaimedChecksAPI.PNG">

# Invoke import functions

In [4]:
import pandas as pd
import numpy as np
import pivottablejs
import requests

# Read json file

In [5]:
df = pd.read_json("https://data.smcgov.org/resource/3jns-r2bi.json")

# View json data

In [6]:
df.head(5)

   check_amount               check_date                payee
0       4299.24  2013-01-02T00:00:00.000  CITI CA LDTA ESCROW
1         30.63  2013-01-02T00:00:00.000      HAGGETT, JOHN A
2        193.25  2013-01-02T00:00:00.000       MIRANDA, AMBEE
3         49.18  2013-01-07T00:00:00.000     MADAMAT, HAITHAM
4        354.90  2013-01-07T00:00:00.000             CEKO INC

# Save json data to csv

In [8]:
df.to_csv('UnclaimedChecks.csv')

# Read csv

In [10]:
df.head()

   check_amount               check_date                payee
0       4299.24  2013-01-02T00:00:00.000  CITI CA LDTA ESCROW
1         30.63  2013-01-02T00:00:00.000      HAGGETT, JOHN A
2        193.25  2013-01-02T00:00:00.000       MIRANDA, AMBEE
3         49.18  2013-01-07T00:00:00.000     MADAMAT, HAITHAM
4        354.90  2013-01-07T00:00:00.000             CEKO INC

# Perform statistical analysis--PivotTable

In [11]:
import pivottablejs
from pivottablejs import pivot_ui
pivot_ui(df)

In [ ]:
df1 = pd.read_json("https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&realtime_start=1776-07-04&api_key=f3bc95480c87ecd9beddde1c43d5c6a9")